/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@font-face{
    font-family: Arial, Helvetica, sans-serif;
}

a {text-decoration: none;

}

ul{
    list-style-type: none;
}

p {
    line-height: 1.5;
}

/*BODY*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(229, 229, 231);
}

/*HEADER*/

.header{
    background-color: antiquewhite;
    padding:30px 20px;
  }

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container h1 a{
    color: black;
    font-weight: bold;
}



.header__container-navbar{
    display: none;
    
}

.header__container-navbar li{
    margin: 0 15px;
}

.header__container-navbar li a{
    color: black;

}

/*BODY*/

.hero{
    background-color: antiquewhite;
    padding: 60PX 20PX;
    color: rgb(151, 66, 66);
}

.hero__container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 50px;
}

.hero__container-info h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero__container-info p {
    margin-bottom: 40px;    
}

.hero__container-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 25px 50px 12px rgba(0, 0, 0, 0.6);
}


.construccion{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    }

/*FOOTER*/

footer{
    height: 30px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 14px;
   }
 
 
/* ARRIVALS*/

.productos_body{
    background-color: antiquewhite;
}

.parrafo_producto{
    max-width: 1200px;
    margin: 0 auto;
    color: rgb(151, 66, 66);
    font-size: 24px;
    
}

.custom-img {
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
    object-fit: cover;
}



 /*MEDIA QUERIES*/

 @media (min-width:992px) {
    .header__container-navbar {
        display: flex;
    }

    .header__container-navbar-mobile {
        display: none;
    }

    .hero__container {
        grid-template-columns:repeat(2, 1fr);
 }

}

