.productos_body {
          background-color:$backg;
        }
        
        .parrafo_producto {
          max-width: 1200px;
          margin: 0 auto;
          color: rgb(151,66,66);
        }
        
        .custom-img {
          max-width: 1200px;
          margin: 0 auto;
          height: 600px;
          object-fit: cover;
        }