form {
          width: 750px;
          background-color:$backg;
          padding: 60px;
          margin: auto;
          margin-top: 50px;
          border-radius: 4px;
          color: rgb(178, 40, 212);
          box-shadow: 7px 13px 20px #000;
          margin-bottom: 50px;
      }


body{
    background-color: $backg;
}